[submodule "bundle/mustache.vim"]
	path = bundle/mustache.vim
	url = git@github.com:juvenn/mustache.vim
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = git@github.com:groenewege/vim-less
[submodule "bundle/vim-r-plugin"]
	path = bundle/vim-r-plugin
	url = git@github.com:jcfaria/Vim-R-plugin
[submodule "bundle/mustang"]
	path = bundle/mustang
	url = git@github.com:croaker/mustang-vim
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = git@github.com:digitaltoad/vim-jade.git
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = git@github.com:jnwhiteh/vim-golang.git
[submodule "bundle/VimClojure"]
	path = bundle/VimClojure
	url = git@github.com:vim-scripts/VimClojure.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/vim-mustache-handlebars"]
	path = bundle/vim-mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git@github.com:jcf/vim-latex
